*.exe
.env
*postgres_data*
*GitIgnoreFolders
*postgres_data
*postgres_data/*
postgres_data/base/1/pg_internal.init
postgres_data/base/16384/24633
postgres_data/base/16384/24634
postgres_data/base/16384/24640
postgres_data/base/16384/24642
postgres_data/base/16384/24644
postgres_data/base/16384/pg_internal.init
postgres_data/base/5/pg_internal.init
postgres_data/global/pg_control
postgres_data/global/pg_internal.init
postgres_data/pg_stat/pgstat.stat
postgres_data/pg_wal/000000010000000000000001
postgres_data/pg_xact/0000
